.node-red/.flows.json.backup
[
    {
        "id": "76f2a81b887eafeb",
        "type": "tab",
        "label": "Init",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5874e2baa99ac045",
        "type": "mqtt-broker",
        "name": "raspy",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "541d94e2a8a24745",
        "type": "websocket-listener",
        "path": "ws://localhost:12101/api/events/wake",
        "wholemsg": "false"
    },
    {
        "id": "6a240638238f055f",
        "type": "websocket-listener",
        "path": "ws://localhost:12101/api/events/intent",
        "wholemsg": "true"
    },
    {
        "id": "70a9ed9365f02f12",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "true"
    },
    {
        "id": "db0b1b6587e201a4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f00ea32432953691",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2f1edd1448f49d25",
        "type": "ui_group",
        "name": "Sprachsteuerung",
        "tab": "db0b1b6587e201a4",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "811392c8477ad1a7",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "192.168.137.26",
        "protocol": "https",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "8txovi2ds7chz5gwjl0b8nwevmgjsn6m6wwio0qafuaou9lmkmymk057bt0oybc4",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "7b33771d75c79a3f",
        "type": "websocket in",
        "z": "76f2a81b887eafeb",
        "name": "",
        "server": "6a240638238f055f",
        "client": "",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "d279f2438e8dda81",
                "654f7e26cd220aa1"
            ]
        ]
    },
    {
        "id": "69a754436e5343ea",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "gpio",
        "mode": "link",
        "links": [
            "9accd1669e4f749a",
            "ae543e3ae4b54533"
        ],
        "x": 995,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ce9a2aa9a6ebad9",
        "type": "websocket in",
        "z": "76f2a81b887eafeb",
        "name": "",
        "server": "541d94e2a8a24745",
        "client": "",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "d2a1ea1311cf743f"
            ]
        ]
    },
    {
        "id": "d2a1ea1311cf743f",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "wakeword",
        "mode": "link",
        "links": [
            "3e529b50f8baf693",
            "abcdd2715594bca3"
        ],
        "x": 695,
        "y": 440,
        "wires": []
    },
    {
        "id": "84c55c23798b2141",
        "type": "http request",
        "z": "76f2a81b887eafeb",
        "name": "http://localhost:12101/api/text-to-speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 1260,
        "y": 560,
        "wires": [
            [
                "281bacc71604fa08"
            ]
        ]
    },
    {
        "id": "9c0f96953720e7d9",
        "type": "link in",
        "z": "76f2a81b887eafeb",
        "name": "Audio_Ausgabe",
        "links": [
            "57a7963c1506e4cd",
            "d5c114e808e5d4a1",
            "51dea5c48e19ccc4",
            "bc59a60d7a37af23"
        ],
        "x": 855,
        "y": 560,
        "wires": [
            [
                "84c55c23798b2141"
            ]
        ]
    },
    {
        "id": "9c1798fda4cefe2e",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "Muell",
        "mode": "link",
        "links": [
            "ae543e3ae4b54533"
        ],
        "x": 995,
        "y": 400,
        "wires": []
    },
    {
        "id": "d279f2438e8dda81",
        "type": "switch",
        "z": "76f2a81b887eafeb",
        "name": "",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ChangeLightState",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Get_Time",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Get_Date",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GetTemperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Get_Witz",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "69a754436e5343ea"
            ],
            [
                "43ad8a03fc453a1b"
            ],
            [
                "43ad8a03fc453a1b"
            ],
            [
                "7b9ff75a7f3932ea"
            ],
            [
                "4b47b829b5d767ac"
            ],
            [
                "9c1798fda4cefe2e"
            ]
        ]
    },
    {
        "id": "43ad8a03fc453a1b",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "Uhrzeit",
        "mode": "link",
        "links": [
            "273efd3f71bbc2bf",
            "ae543e3ae4b54533"
        ],
        "x": 995,
        "y": 240,
        "wires": []
    },
    {
        "id": "7b9ff75a7f3932ea",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "Wetter",
        "mode": "link",
        "links": [
            "191d2f269a0a3ca2",
            "ae543e3ae4b54533"
        ],
        "x": 995,
        "y": 280,
        "wires": []
    },
    {
        "id": "4b47b829b5d767ac",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "Witz",
        "mode": "link",
        "links": [
            "ae543e3ae4b54533",
            "c713d84ffe78b8b9"
        ],
        "x": 995,
        "y": 340,
        "wires": []
    },
    {
        "id": "654f7e26cd220aa1",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "intentled",
        "mode": "link",
        "links": [
            "cf4991c6077eface"
        ],
        "x": 555,
        "y": 360,
        "wires": []
    },
    {
        "id": "281bacc71604fa08",
        "type": "link out",
        "z": "76f2a81b887eafeb",
        "name": "Stopp",
        "mode": "link",
        "links": [
            "e95e0f17502fd129"
        ],
        "x": 1525,
        "y": 560,
        "wires": []
    }
]